<%-include('./partials/head'); %>
  <body>
    <%-include('./partials/navbar'); %>
      <div class="container">
          <h1 class="text-center">
              Online Video Converter
          </h1>
          <form action="/videoconverter" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input class="form-control" type="file" name="videoconverterfile" id="" required>
            </div>
            <div class="form-group">
                <label for="format">Format:</label>
                <select class="form-control" name="videoconverterformat" id="">
                    <option value="mp4" selected>mp4</option>
                    <option value="avi">avi</option>
                    <option value="wmv">wmv</option>
                    <option value="mkv">mkv</option>
                    <option value="flv">flv</option>
                    <option value="gif">gif</option>
                    <option value="m4v">m4v</option>
                    <option value="mov">mov</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-danger">
                    Download Video File
                </button>
            </div>
        </form>
        <br><br>
        <%-include('./partials/services');%>
        <%-include('./partials/jumbotron');%>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>